@font-face {
  font-family: "ApercuMonoProRegular";
  src: url(../fonts/ApercuMonoPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ApercuMonoProBold";
  src: url(../fonts/ApercuMonoPro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DroidArabicRegular";
  src: url(../fonts/ArbFONTS-Droid-Arabic-Kufi.ttf) format("truetype");
}

@font-face {
  font-family: "DroidArabicBold";
  src: url(../fonts/ArbFONTS-Droid-Arabic-Kufi-Bold.ttf) format("truetype");
}

h1 {
  font-family: "ApercuMonoProRegular", sans-serif;
  font-size: 80px;
  line-height: 100px;
  margin: 0;
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

h2 {
  font-size: 25px;
  margin: 20px 0;
}

@media only screen and (max-width: 990px) {
  h2 {
    font-size: 16px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "ApercuMonoProRegular", sans-serif;
}

.ar {
  font-family: "DroidArabicRegular", sans-serif !important;
}

.ar h1, .ar h2, .ar p, .ar span, .ar a, .ar input {
  direction: rtl !important;
}

.ar #mc_embed_signup input {
  direction: rtl !important;
}

.ar #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  direction: rtl !important;
  text-align: right !important;
  width: 100% !important;
}

.ar #mc_embed_signup div.response {
  width: 100% !important;
}

.ar-input {
  height: 33px !important;
  float: right !important;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navigation {
  height: 220px;
  width: 100%;
  background: #1A1A1A;
}

@media only screen and (max-width: 1220px) {
  nav.navigation {
    height: 150px;
  }
}

.logo {
  padding-left: 5%;
}

@media only screen and (max-width: 1220px) {
  .logo img {
    max-width: 80%;
  }
}

ul.language {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}

ul.language li {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
}

ul.language span.divider {
  display: block;
  color: #CE2C70;
  width: 3px;
  height: 28px;
  background: #CE2C70;
  margin: 0 5px;
}

ul.language li > a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

ul.language li > a.en {
  font-family: "ApercuMonoProRegular", sans-serif !important;
}

ul.language li > a.ar {
  font-family: 'DroidArabicRegular';
}

ul.language li > a.active {
  color: white;
}

main.wrapper {
  width: 100%;
  height: calc(100vh - 220px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 1220px) {
  main.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    height: calc(100vh - 150px);
  }
}

main.wrapper .col_left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.wrapper .col_left .content {
  padding: 0 10%;
}

@media only screen and (max-width: 1220px) {
  main.wrapper .col_left {
    padding: 10% 0;
    width: 100%;
  }
  main.wrapper .col_left .content {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 990px) {
  main.wrapper .col_left .content {
    width: 90%;
  }
}

main.wrapper .col_left.ar_content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1220px) {
  main.wrapper .col_left.ar_content {
    width: auto !important;
  }
}

main.wrapper .col_left.ar_content h1, main.wrapper .col_left.ar_content h2 {
  font-family: "DroidArabicRegular";
  direction: rtl;
}

main.wrapper .col_left.ar_content .content {
  width: 60%;
}

@media only screen and (max-width: 990px) {
  main.wrapper .col_left.ar_content .content {
    width: 90%;
  }
}

main.wrapper .col_right {
  background: #D1CDC2;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1220px) {
  main.wrapper .col_right {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#mc_embed_signup_scroll {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 990px) {
  #mc_embed_signup_scroll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

input[type=submit] {
  border: none;
  background-color: #1A1A1A;
  color: #CE2C70;
  padding: 20px 30px;
  font-family: "ApercuMonoProBold";
  cursor: pointer;
}

#mc_embed_signup #mce-success-response {
  color: #1A1A1A;
  display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  padding: 20px 0 !important;
  margin: 0 !important;
  color: #FF0000 !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 1220px) {
  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    font-size: 16px !important;
    padding: 10px 0 20px 0 !important;
  }
}

@media only screen and (max-width: 990px) {
  .reorder {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 0 !important;
}

#mc_embed_signup input {
  border: 1px solid #ABB0B2;
  border-radius: 0 !important;
  font-size: 25px !important;
  font-weight: inherit !important;
  color: #1A1A1A !important;
}

@media only screen and (max-width: 1200px) {
  #mc_embed_signup input {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 990px) {
  #mc_embed_signup input {
    font-size: 16px !important;
    width: 100% !important;
    margin: 10px 0 !important;
  }
}

#mc_embed_signup input[type=email] {
  font-family: "ApercuMonoProRegular", sans-serif;
  border: none !important;
  background-color: #E8E8E8;
  padding: 20px 30px !important;
}

textarea:focus, input:focus {
  outline: none !important;
}

#mc_embed_signup .mc-field-group input {
  text-indent: 0 !important;
  width: 100% !important;
  overflow: hidden;
}

#mc_embed_signup .button {
  clear: both;
  -webkit-transition: all 0.23s ease-in-out 0s;
  transition: all 0.23s ease-in-out 0s;
  height: inherit !important;
  line-height: inherit !important;
  margin: 0 !important;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  border: none !important;
  background-color: #1A1A1A !important;
  color: #CE2C70 !important;
  padding: 20px 30px !important;
  font-family: "ApercuMonoProBold";
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  #mc_embed_signup .button {
    font-size: 16px !important;
  }
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 100% !important;
  padding-bottom: 0 !important;
  min-height: inherit !important;
  overflow: hidden;
  padding: 0 20px 0 0;
}

@media only screen and (max-width: 990px) {
  #mc_embed_signup .mc-field-group {
    width: auto !important;
  }
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: #1A1A1A !important;
  background: #D1CDC2 !important;
}

::selection {
  color: #1A1A1A !important;
  background: #D1CDC2 !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #E8E8E8 inset !important;
  font-size: 25px !important;
}

@media only screen and (max-width: 1220px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size: 16px !important;
  }
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0 !important;
  overflow: hidden;
  width: 100% !important;
  margin: 0 !important;
  clear: both;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 40px 0;
}

.contact-info {
  font-family: "ApercuMonoProBold";
  text-align: right;
  margin-bottom: 130px;
  width: 85%;
}

.contact-info a {
  display: block;
  line-height: 30px;
  color: #1A1A1A;
  text-decoration: none;
}

.contact-info a.contact-link {
  text-decoration: underline;
  margin: 20px 0;
}

@media only screen and (max-width: 1220px) {
  .contact-info {
    text-align: left;
    padding-left: 5%;
    margin-top: 10%;
  }
}

.contact-info-ar {
  font-family: "DroidArabicBold", sans-serif;
  text-align: right !important;
  direction: rtl;
  margin-bottom: 130px;
  width: 85% !important;
}

.contact-info-ar a {
  display: block;
  line-height: 30px;
  color: #1A1A1A;
  text-decoration: none;
}

.contact-info-ar a.contact-link {
  text-decoration: underline;
  margin: 20px 0;
}

@media only screen and (max-width: 1220px) {
  .contact-info-ar {
    text-align: left;
    padding-left: 5%;
    margin-top: 10%;
    width: 90% !important;
  }
}

.pink-bar {
  width: 100%;
  height: 84px;
  background-color: #CE2C70;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 5%;
}

.pink-bar .notification-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pink-bar ul.cookie-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

.pink-bar ul.cookie-links li {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
}

.pink-bar ul.cookie-links button {
  border: 0;
  padding: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  margin-right: 10px;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.pink-bar ul.cookie-links span.divider {
  display: block;
  width: 3px;
  height: 28px;
  background: white;
  margin: 0 5px;
}

.pink-bar ul.cookie-links li > a {
  color: white;
  text-decoration: underline;
}

.pink-bar ul.cookie-links li > a.active {
  color: white;
}

.pink-bar span {
  color: rgba(255, 255, 255, 0.5);
}

.pink-bar span.close, .pink-bar span.close-ar {
  display: inline-block;
  background: url("/public/img/close.svg");
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 1;
  right: 5%;
  cursor: pointer;
}

.pink-bar span.close-ar {
  left: 5%;
}

.pink-bar-ar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
}

.pink-bar.hide {
  display: none;
  pointer-events: none;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */