

//FONT STYLES //
@font-face {
    font-family: "ApercuMonoProRegular";
    src: url(../fonts/ApercuMonoPro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ApercuMonoProBold";
    src: url(../fonts/ApercuMonoPro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "DroidArabicRegular";
    src: url(../fonts/ArbFONTS-Droid-Arabic-Kufi.ttf) format("truetype");
}
@font-face {
    font-family: "DroidArabicBold";
    src: url(../fonts/ArbFONTS-Droid-Arabic-Kufi-Bold.ttf) format("truetype");
}



h1{
    font-family: "ApercuMonoProRegular", sans-serif;
    font-size:80px;
    line-height: 100px;
    margin:0;
    @media only screen and (max-width: 990px) {
        font-size:40px;
        line-height: 60px;
     }
}
h2{
    font-size:25px;
    margin:20px 0;

    @media only screen and (max-width: 990px) {
        font-size:16px;
     }
}


// BRAND COLOURS //

$black: #1A1A1A;
$nav-grey: rgba(255,255,255,0.5);
$grey: #E8E8E8;
$pink: #CE2C70;
$stone: #D1CDC2;

html,body{
  margin:0;
  padding:0;
  font-family: "ApercuMonoProRegular", sans-serif;
}

.ar{
    font-family: "DroidArabicRegular", sans-serif!important;

    h1,h2,p,span,a, input{
        direction:rtl!important;
    }
    #mc_embed_signup input{
        direction:rtl!important;
    }

    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
        direction:rtl!important;
        text-align: right!important;
        width:100%!important;
    }
    #mc_embed_signup div.response{
        width:100%!important;
    }

}

.ar-input{
    height:33px!important;
}

.container{
    // max-width: 1440px;
    // margin:0 auto;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


nav.navigation{
    height: 220px;
    width:100%;
    background:$black;
    @media only screen and (max-width: 1220px) {
        height: 150px;
    }
}

.logo{
    padding-left:5%;
    @media only screen and (max-width: 1220px) {
        img{
            max-width: 80%;
        }
       
    }
}

ul.language{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right:5%;

    li{
        display: inline-block;
        margin:0 5px;
        font-size: 16px;
    }

    span.divider{
        display: block;
        color:$pink;
        width:3px;
        height:28px;
        background:$pink;
        margin:0 5px;
    }
    li > a{
        color:$nav-grey;
        text-decoration: none;
    }

    li > a.en{
        font-family: 'ApercuMonoProRegular', sans-serif!important;
    }

    li > a.ar{
        font-family:'DroidArabicRegular';
    }

    li > a.active{
        color:white;
    }
}


main.wrapper{
    width:100%;
    height:calc(100vh - 220px);
    display: flex;
    flex-direction: row;
    // padding-left: 10%;
    @media only screen and (max-width: 1220px) {
        flex-direction: column;
        overflow: scroll;
        height:calc(100vh - 150px);
    }


    .col_left{
        width:70%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        
        .content{
            padding:0 10%;
        }

        @media only screen and (max-width: 1220px) {
            padding:10% 0;
            width:100%;
            .content{
                padding:0 5%;
            }
    
        }

        @media only screen and (max-width: 990px) {
            .content{
               width:90%;
            }
        }

    }
    .col_left.ar_content{
        width:70%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        @media only screen and (max-width: 1220px) {
            width:auto!important;
        }
        h1,h2{
            font-family: "DroidArabicRegular";
            direction: rtl;
        }

        .content{
            width:60%;
            @media only screen and (max-width: 990px) {
                width:90%;
             }
        }
       
    }
    .col_right{
        background:$stone;
        width:30%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        @media only screen and (max-width: 1220px) {
           height:100%;
           width:100%;
           align-items: center;
           justify-content: flex-start;
        }
        
    }
}

#mc_embed_signup_scroll{
    display: flex!important;
        
    @media only screen and (max-width: 990px) {
        flex-direction: column;
    }
}

input[type=email]{
    font-family: "ApercuMonoProRegular", sans-serif;
    border:none!important;
    background-color: $grey;
    padding:20px 30px!important;
    // width:60%!important;
    // max-width: 500px;
}
input[type=submit]{
    border:none;
    background-color: $black;
    color: $pink;
    padding:20px 30px;
    font-family: "ApercuMonoProBold";
    cursor: pointer;
}

#mc_embed_signup #mce-success-response {
    color: $black;
    display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    padding: 20px 0!important;
    margin: 0!important;
    color: #FF0000!important;
    font-size: 20px!important;
    @media only screen and (max-width: 1220px) {
        font-size:16px!important;
        padding: 10px 0 20px 0!important;
    }
}

.reorder{
    @media only screen and (max-width: 990px) {
        order:1;
    }

}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 0!important;
    
}
#mc_embed_signup input {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius:0!important;
    font-size:25px!important;
        
    @media only screen and (max-width: 1200px) {
        margin:0!important;
    }
    @media only screen and (max-width: 990px) {
        font-size:16px!important;
        width:100%!important;
        
        margin:10px 0!important;
    }

    font-weight: inherit!important;
    color:$black!important;

}

textarea:focus, input:focus{
    outline: none!important;
}

#mc_embed_signup .mc-field-group input{
    text-indent:0!important;
    width: 100%!important;
    overflow: hidden;

    @media only screen and (max-width: 990px) {
        // width:84%!important;
    }
}

#mc_embed_signup .button {
    clear: both;
    transition: all 0.23s ease-in-out 0s;
    
    @media only screen and (max-width: 990px) {
        font-size:16px!important;
    }

    height: inherit!important;
    line-height: inherit!important;
    margin: 0!important;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    border:none!important;
    background-color: $black!important;
    color: $pink!important;
    padding:20px 30px!important;
    font-family: "ApercuMonoProBold";
    cursor: pointer;
}

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: auto!important;
    padding-bottom: 0!important;
    min-height:inherit!important;
    overflow:hidden;
    padding:0 20px 0 0;
}

.flex1{
    flex: 1;
    width: 100%;
}

::-moz-selection { /* Code for Firefox */
    color: $black!important;
    background: $stone!important;
  }
  
  ::selection {
    color: $black!important;
    background: $stone!important;
  }

  /* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 50px $grey inset !important;
    font-size: 25px!important;
    @media only screen and (max-width: 1220px) {
        font-size:16px!important;
    }

}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding:0!important;
    overflow: hidden;
    width: 100%!important;
    margin: 0 !important;
    clear: both;
}


// form.ar_form{
//     input[type=email]{
//         font-family: "DroidArabicRegular", sans-serif;
//         border:none;
//         background-color: $grey;
//         padding:20px 30px;
//         width:100%;
//         max-width: 500px;
//         direction: rtl;
//     }
//     input[type=submit]{
//         border:none;
//         background-color: $black;
//         color: $pink;
//         padding:20px 30px;
//         font-family: "DroidArabicBold";
//         cursor: pointer;
//         direction: rtl;
//     }
// }


form{
    display: flex;
    width: 100%;
    margin:40px 0;
}

.contact-info{
    font-family: "ApercuMonoProBold";
    text-align: right;
    margin-bottom:130px;
    width: 85%;
    a{
        display:block;
        line-height: 30px;
        color:$black;
        text-decoration: none;
    }

    a.contact-link{
        text-decoration: underline;
        margin:20px 0;
    }

    @media only screen and (max-width: 1220px) {
        text-align: left;
        padding-left:5%;
        margin-top:10%;
     }

}

.contact-info-ar{
    font-family: "DroidArabicBold", sans-serif;
    text-align: right!important;
    direction:rtl;
    margin-bottom:130px;
    width: 85%!important;
    a{
        display:block;
        line-height: 30px;
        color:$black;
        text-decoration: none;
    }

    a.contact-link{
        text-decoration: underline;
        margin:20px 0;
    }

    @media only screen and (max-width: 1220px) {
        text-align: left;
        padding-left:5%;
        margin-top:10%;
        width: 90%!important;
     }

}






// COOKIE BAR //



.pink-bar{
    width:100%;
    height:84px;
    background-color: $pink;
    position: fixed;
    bottom:0;
    display: flex;
    align-items: center;
    color:$nav-grey;
    padding:0 5%;
    .notification-wrapper{
        width:90%;
        display: flex;
        align-items:center;
        justify-content: flex-end;
    }

    ul.cookie-links{
        list-style: none;
        display: flex;
        align-items: center;
        padding-right:40px;
        
        li{
            display: inline-block;
            margin:0 5px;
            font-size: 16px;
        }
        
        button{
            border:0;
            padding:0;
            background: none;
            font-size:inherit;
            font-family: inherit;
            margin-right:10px;
            text-decoration: underline;
            color:white;
            cursor:pointer;
        }
        span.divider{
            display: block;
            width:3px;
            height:28px;
            background:white;
            margin:0 5px;
        }
    
        li > a{
            color:white;
            text-decoration: underline;
        }
    
        li > a.active{
            color:white;
        }
    }

    span{
        color:$nav-grey;
    }
    span.close, span.close-ar{
        display: inline-block;
        background: url('/public/img/close.svg');
        height:20px;
        width:20px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: fixed;
        z-index: 1;
        right:5%;
        cursor: pointer;
    }

    span.close-ar{
        left:5%;
    }
    
}

.pink-bar-ar{
    justify-content: flex-end;
    padding-right:5%;
}

.pink-bar.hide{
    display: none;
    pointer-events: none;
}
::selection{
    color: #fff;
}
